name: scheduled update sponsors

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"
  push:
    branches:
      - main

jobs:
  update-sponsors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v1

      - run: bun install

      - name: Build
        run: bun run build

      - name: Generate sponsors
        run: bun run generate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_LOGIN: ubugeeei

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: "chore: update sponsors"
          add: "sponsors*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
